{% extends 'base.html' %}
{% load static %}
{% block title %}Commander un portrait{% endblock %}

{% block content %}
<div class="form-container">
    <h2>Commander votre portrait personnalisé</h2>
    <form method="post" enctype="multipart/form-data" class="form-style">
        {% csrf_token %}
        {{ form.as_p }}
        <div style="display: flex; justify-content: space-between; margin-top: 20px;">
            <button type="submit" class="btn btn-primary">Envoyer la commande</button>
            <button type="reset" class="btn btn-outline-danger">Effacer la commande</button>
        </div>
    </form>
    <div style="margin-top: 20px; text-align: center;">
        <a href="https://wa.me/242065319666?text=Bonjour%2C%20je%20souhaite%20commander%20un%20portrait."
           target="_blank"
           rel="noopener noreferrer"
           class="btn btn-success">
            Contactez nous par WhatsApp
        </a>
    </div>
</div>

<script>
  document.querySelector('button[type="reset"]').addEventListener('click', function(e) {
    if (!confirm("Voulez-vous vraiment effacer cette commande ?")) {
      e.preventDefault();
    }
  });
</script>

{% endblock %}
