{% extends 'base.html' %}
{% block title %}Contact{% endblock %}

{% block content %}

<section class="contact-form">
    <h2>Contactez-moi</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn-primary">Envoyer</button>
    </form>

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
</section>

{% endblock %}
